:root{
  --white: #fff;
  --bg: #313552;
  --grey: #CCC;
  --success-bg: #6BCB77;
}

.text-xs {
  font-size: 11px;
}

.font-bold {
  font-weight: bold;
}

.header__h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.header__h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(92, 92, 92);
}