:root {
  --white: #fff;
  --bg: #313552;
  --grey: #ccc;
  --success-bg: #6bcb77;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 40px 30px;
  background: var(--grey);
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  /* display: none; */
}

.container .content .txt {
  font-weight: 500;
  font-size: 1.2em;
}

.container .content .form {
  margin-top: 30px;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid var(--grey);
}

.container .content .form .txt {
  font-size: 1.2em;
  margin: 12px 0;
  font-weight: 600;
}

.container .content .form form input {
  width: 100%;
  margin: 10px 0;
  padding: 20px 40px;
  box-sizing: border-box;
  outline: none;
  border-radius: 15px;
}

.container .content .form .book {
  margin: 10px 0 0;
}

.container .content .form form .book button {
  cursor: pointer;
  background: var(--bg);
  background-color: #dbbaba;
  font-weight: 500;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  padding: 15px 40px;
}

.container.show{
    display: block;
}

.container.hide{
    display: none;
}