.wrapper {
    width: 100%;
    max-width: 500px;
    padding: 30px 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.wrapper .content .logo img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper .content .offer1 {
    margin-top: 18px;
    text-align: center;
}

.wrapper .content .offer1 span {
    font-size: 1.4em;
    font-weight: 500;
}

.wrapper .content .form {
    margin-top: 30px;
}

.wrapper .content .form form input {
    width: 100%;
    padding: 20px 40px;
    border: 1px solid var(--grey);
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.wrapper .content .form form input:focus {
    border-color: var(--grey);
}

.wrapper .content .form form button {
    background: var(--bg);
    background-color: #dbbaba;
    font-weight: 500;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 40px;
}

.wrapper .content .form form .email-input .icon {
    position: absolute;
    top: 20px;
    left: 15px;
    color: var(--grey);
}

.wrapper .content .form form .email-input {
    position: relative;
}

.signup-form__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.email-input, .password-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.signup__inputs {
    margin: 0;
}

.submit__container {
    display: flex;
    justify-content: space-between;
}

.guest__link {
    background-color: rgb(83, 143, 221);
    color: white;
    padding-block: 16px;
    padding-inline: 36px;
    border-radius: 8px;
}

.guest__link:hover {
    background-color: rgb(28, 112, 221);
    cursor: pointer;
}
