.headers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.products-section {
    padding: 40px;
}

.products__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(max-width: 900px) {
    .products__container {
        justify-content: center;
    }
}

.product__card {
    position: relative;
    width: 350px;
    height: 450px;
    margin-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.product__card:hover {
    transform: translateY(-5px);
}

.product__image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.product__details {
    padding: 10px;
}

.product__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product__description {
    font-size: 14px;
    color: #666;
}

.product__button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: #d4144e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product__button:hover {
    background-color: #973a3a;
}
