:root {
    --white: #fff;
    --bg: #313552;
    --grey: #ccc;
    --success-bg: #6bcb77;
}

@media(max-width: 700px) {
    .search-form__container {
        padding-top: 10px;
        padding-inline: 0;
        max-width: 460px;
    }
}

.dates__container,
.people__container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.input__container {
    display: flex;
    flex-direction: column;
    width: 96%;
    padding: 8px;
    gap: 4px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
}

.input__container:focus {
    outline: #313552;
}

.input__container input,
select {
    font-size: 16px;
    padding-block: 4px;
    border: none;
    outline: none;
}

.book-reservation-btn {
    width: 100%;
    background-color: rgb(212, 20, 78);
    color: white;
    border: none;
    padding-block: 16px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
}

.book-reservation-btn:hover {
    background-color: rgb(199, 18, 72);
    cursor: pointer;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
